body
{
	background-color:powderblue;
	background-image: url('pageBackground.jpg');
	font-family: Arial, Helvetica, sans-serif;;
}

canvas 
{
	position: relative;
    padding-left: 0;
	padding-right: 0;
    margin-left: auto;
	margin-right: auto;
    display: block;
    width: 800px;
}

h1
{
	font-size:60px;
	font-family: Arial, Helvetica, sans-serif;;
	text-align:center;
	color:black;
	background-color:#feebfe;
}

h2
{
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;;
	text-align:center;
	color:black;
}

button1
{
	background-color: #e0aae0; 
	color: black; 
	position: absolute;
    top: 50%;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;;
}

button2
{
	background-color: rgb(195, 152, 235); 
  	color: black; 
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
}

button3
{
	background-color: rgb(195, 152, 235); 
  	color: black; 
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;;
}

.restart
{
	margin:auto;
	display:block;
	width: 10%;
	border: none;
  	background-color: #7150eb;
  	color: white;
  	padding: 14px 28px;
  	font-size: 16px;
  	cursor: pointer;
  	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.restart:hover
{
	background-color: rgb(195, 152, 235); 
  	color: black;
}

.pause
{
	margin:auto;
	display:block;
	width: 10%;
	border: none;
  	background-color: #7150eb;
  	color: white;
  	padding: 14px 28px;
  	font-size: 16px;
  	cursor: pointer;
  	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.pause:hover
{
	background-color: rgb(195, 152, 235); 
  	color: black;
}

.length
{
	margin:auto;
	display:block;
	width: 10%;
	border: none;
  	background-color: #7150eb;
  	color: white;
  	padding: 14px 28px;
  	font-size: 16px;
  	cursor: pointer;
  	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.length:hover
{
	background-color: rgb(195, 152, 235); 
  	color: black;
}

.story
{
	margin:auto;
	display:block;
	width: 10%;
	border: none;
  	background-color: #7150eb;
  	color: white;
  	padding: 14px 28px;
  	font-size: 16px;
  	cursor: pointer;
  	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.story:hover
{
	background-color: rgb(195, 152, 235); 
  	color: black;
}

.start
{
	margin:auto;
	display:block;
	width: 10%;
	border: none;
  	background-color: #7150eb;
  	color: white;
  	padding: 14px 28px;
  	font-size: 16px;
  	cursor: pointer;
  	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.start:hover
{
	background-color: rgb(195, 152, 235); 
  	color: black;
}

